*{
    font-family: 'Josefin Sans', sans-serif;
}
a{
    cursor: pointer;
}
.rotated-texts{
    transform: rotate(-90deg);
    margin-top: 150px;
    font-weight: 600;
}
.theme-shape{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
/* carousel start*/
#carousel .carousel-item.plane {
  background-image: url("../images/plane.jpg");
}

#carousel .carousel-item.ship {
  background-image: url("../images/CargoShip.jpg");
}

#carousel .carousel-item.rail {
  background-image: url("../images/rail.jpg");
}

#carousel .carousel-item {
  height: 100vh;
  width: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

#carousel .carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

#carousel .carousel-item .caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  color: white;
  animation-duration: 1s;
  animation-delay: 2s;
}

#carousel .caption h2 {
  animation-duration: 1s;
  animation-delay: 2s;
}

#carousel .caption p {
  animation-duration: 1s;
  animation-delay: 2.2s;
}

#carousel .caption a {
  animation-duration: 1s;
  animation-delay: 2.4s;
}

/* Button */
.delicious-btn {
  display: inline-block;
  min-width: 160px;
  height: 60px;
  color: #ffffff;
  border: none;
  border-left: 3px solid #962717;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background-color: #d92e15;
}

.delicious-btn.active, .delicious-btn:hover, .delicious-btn:focus {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #962717;
  border-color: #d92e15;
}
/* carousel End*/
/* services section*/
a,p,h1,h2,h3,h4,ul {
	margin: 0;
	padding: 0;
}

.section-services {
	padding-top: 110px;
	padding-bottom: 50px;
	font-family: "Poppins", sans-serif;
	color:black;
}

.header-section {
	margin-bottom: 35px;
}

.header-section .title {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-weight: 700;
}

.header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 1px;
	background-color: #f70037;
}

.header-section .title:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	width: 45px;
	height: 3px;
	background-color: #f70037;
}

.header-section .title span {
	color: #f70037;
}

.header-section .description {
	color: #6f6f71;
}

.section-services .single-service {
	margin-top: 40px;
	background-color: #24252a;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.section-services .single-service .part-1 {
	padding: 40px 40px 25px;
	border-bottom: 2px solid #1d1e23;
}

.section-services .single-service .part-1 i {
	margin-bottom: 25px;
	font-size: 50px;
	color: #f70037;
}

.section-services .single-service .part-1 .title {
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.8em;
  color: white;
}

.section-services .single-service .part-2 {
	padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
	margin-bottom: 22px;
	color: #6f6f71;
	font-size: 14px;
	line-height: 1.8em;
}

.section-services .single-service .part-2 a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.section-services .single-service .part-2 a i {
	margin-right: 10px;
	color: #f70037;
}
/* End services Section */
footer { 
  width:100%;
  background-color:#24252a; 
  min-height:250px; 
  padding:10px 0px 25px 0px ;
  color: white;
  margin-top: 200px !important;
}
footer ul{
  list-style: none;
}
footer .jumbotron{
  color: black;
    background: white;
    margin-top: -165px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.blog-date{
  font-size: initial;
  color: gray;
}
.font-large{
  font-size: x-large;
}
.items-center{
  align-items: center;
}
.companyInfobg{
  background-image: url(../images/shipping-1078102_1920.jpg);
    margin: 45px;
    padding: 45px;
    background-size: cover;
}
.companyInfobg div{
  background-color: #0000008f;
    color: white;
    padding: 50px;
    width: 50%;
    font-size: 17px;
}
@media (max-width: 991px){
  .companyInfobg div{
    width: 100%;
  }
}
@media (max-width: 580px){
  .companyInfobg{
      margin-left: 5px;
      margin-right: 5px;
      padding: 5px;
  }
  .companyInfobg div{
    padding-left:10px;
    padding-right:10px
  }
}
 
 .owl-carousel .item {
     margin: 3px
 }

 .owl-carousel .item img {
     display: block;
     width: 100%;
     height: auto
 }

 .owl-carousel .item {
     margin: 3px
 }

 .owl-carousel {
     margin-bottom: 15px
 }
 .footer-icons{
    font-size: 30px;
 }
.footer-icons a{
  color: white;
}
.footer-icons a:hover{
  color: #0056b3;
  text-decoration: none;
}
.other-header{
  background-image: url(../images/cover.jpg);
  background-size: cover;
}
.other-header div{
    background-color: #00000080;
    color: white;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
}
.other-header div h1{
    font-size: 7vw;
    font-variant: small-caps;
}
.other-header div h4{
  color: #d4230c;
  font-size: 3.5vw;
  font-weight: 600;
  font-variant: small-caps;
}
.align-vertical{
  align-self: center;
}
.detail-texts{
  font-size: 11px;
  color: gray;
}
/* cart css*/
.cart-table {
    padding: 40px 34px 0;
    background: #f0f0f0;
    border-radius: 27px;
    overflow: hidden;
}
.cart-table .total-cost {
    background: #dd3016;
    margin: 0 -34px;
    text-align: right;
    padding: 22px 0;
    padding-right: 50px;
}
.cart-table table {
    width: 100%;
    min-width: 442px;
    margin-bottom: 17px;
}
.cart-table table tr th {
    font-size: 12px;
    font-weight: 400;
    color: #414141;
    text-align: center;
    padding-bottom: 25px;
}
.card-right .site-btn {
    margin-bottom: 14px;
    width: 100%;
    min-height: 57px;
    padding: 23px 47px 14px;
}
.site-btn {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 600;
    min-width: 167px;
    padding: 18px 47px 14px !important;
    border-radius: 50px !important;
    text-transform: uppercase;
    background: #dd3016!important;
    color: #fff;
    line-height: normal;
    cursor: pointer;
    text-align: center;
}
.cart-table .product-col img {
    display: table-cell;
    vertical-align: middle;
    float: left;
    width: 73px;
}
.cart-table .product-col .pc-title {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}
.cart-table .product-col .pc-title h4 {
    font-size: 16px;
    color: #414141;
    font-weight: 700;
    margin-bottom: 3px;
}
.cart-table .product-col .pc-title p {
    margin-bottom: 0;
    font-size: 16px;
    color: #414141;
}
.cart-table .quantity .pro-qty {
    width: 80px;
    background: #fff;
    border-color: #fff;
}
.quantity .pro-qty {
    width: 94px;
    height: 36px;
    border: 1px solid #ddd;
    padding: 0 15px;
    border-radius: 40px;
    float: left;
}
.quantity .pro-qty input {
    width: 28px;
    float: left;
    border: none;
    height: 36px;
    line-height: 40px;
    padding: 0;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
}
.card-right .site-btn:hover{
    color: gainsboro;
}
/* checkout page*/
.checkout-form .cf-title {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    border-radius: 50px;
    background: #3b3b3b;
    padding: 21px 29px 20px;
    margin-bottom: 66px;
}
.checkout-form p {
    font-size: 16px;
    color: #414141;
}
.checkout-form .address-inputs {
    margin-bottom: 54px;
}
.checkout-form input[type=text] {
    width: 100%;
    height: 44px;
    border: none;
    padding: 0 18px;
    background: #f0f0f0;
    border-radius: 40px;
    margin-bottom: 20px;
    font-size: 14px;
}
.checkout-cart {
    background: #f0f0f0;
    padding: 40px 24px 30px;
    border-radius: 25px;
}
.checkout-cart h3 {
    margin-bottom: 30px;
}
.checkout-cart .product-list {
    list-style: none;
}
.checkout-cart .product-list li {
    overflow: hidden;
    display: block;
    margin-bottom: 29px;
}
.checkout-cart .product-list .pl-thumb {
    float: left;
    overflow: hidden;
    margin-right: 22px;
    width: 99px;
}
.checkout-cart .product-list p {
    font-size: 16px;
    margin-bottom: 0;
}
.checkout-cart .product-list .pl-thumb img {
    min-width: 100%;
    width: -webkit-fill-available;
}
.checkout-cart .price-list {
    padding-left: 17px;
    padding-right: 5px;
    list-style: none;
}
.checkout-cart .price-list li {
    overflow: hidden;
    display: block;
    font-size: 18px;
    color: #414141;
    margin-bottom: 10px;
}
.checkout-cart .price-list li span {
    float: right;
    width: 85px;
    text-align: left;
}
.checkout-cart .price-list li.total {
    padding-top: 35px;
    font-weight: 700;
}
.submit-order-btn {
    width: 100%;
    min-height: 58px;
}